
	<tr>
		<td style="text-align: center; border-bottom:1px solid #eee;">
			%%GLOBAL_ProductName%%
			%%GLOBAL_ProductOptions%%
			<br />
			%%GLOBAL_ExpectedReleaseDate%%
			<table style="font-family: Arial; font-size:11px">%%GLOBAL_CartProductFields%%</table>
			%%GLOBAL_EventDate%%
		</td>
		<td style="text-align: center; border-bottom:1px solid #eee;">N/A</td>
		<td style="text-align: center; border-bottom:1px solid #eee;">%%GLOBAL_ProductQuantity%%</td>
		<td style="text-align: center; border-bottom:1px solid #eee;">%%GLOBAL_ProductPrice%%</td>
		<td style="text-align: center; border-bottom:1px solid #eee;">%%GLOBAL_ProductTotal%%</td>
	</tr>
