<html><body style="font-family: Arial; font-size: 12px;">
	<div style="padding: 0 20px 20px 20px;">
		<h2 style="font-size:22px; height:30px; color:#cc6600; border-bottom:dashed 1px gray">New Order Message</h2>

		<p>%%LNG_ThisIsAnAutomatedMessage%%</p>

		<p>%%GLOBAL_CustomerName%% has sent you a message about his/her order.<br />
		To view the message and reply, follow the link below</p>

		<p><a href="%%GLOBAL_ShopPathSSL%%/admin/index.php?ToDo=viewOrders&newMessages=1">%%GLOBAL_ShopPathSSL%%/admin/index.php?ToDo=viewOrders&newMessages=1</a></p>

		%%GLOBAL_EmailFooter%%
	</div>
</body></html>