<div class="Block Moveable Panel AccountOrder" id="AccountOrder">
	<h2><i class="fa fa-paper-plane"></i> %%LNG_OrderIdHash%%%%GLOBAL_OrderId%%</h2>
	<div class="BlockContent">
		<p class="InfoMessage">
			%%LNG_YourOrderDetailsBelow%%
		</p>

		<p class="Meta">
			<span style="display: %%GLOBAL_HideOrderStatus%%">
				<strong>%%LNG_OrderStatus%%:</strong> %%GLOBAL_OrderStatus%%<br />
			</span>
			<strong>%%LNG_OrderDate%%:</strong> %%GLOBAL_OrderDate%%<br />
			<strong>%%LNG_OrderTotal%%:</strong> %%GLOBAL_OrderTotal%%
		</p>

		<hr />

		<div class="BillingDetails">
			<h3>%%LNG_BillingDetails%%</h3>
			%%GLOBAL_BillingAddress%%
		</div>

		<div class="ShippingDetails" style="%%GLOBAL_HideSingleShippingAddress%%">
			<h3>%%LNG_ShippingDetails%%</h3>
			%%GLOBAL_ShippingAddress%%
		</div>

		<hr class="Clear" />
		%%GLOBAL_FlassMessage%%
		<form action="cart.php?action=addreorderitems" method="post" onsubmit="return ValidateReorderForm(this);" id="ReorderForm">

			<h3>Pedido #%%GLOBAL_OrderId%% %%LNG_ContainsTheFollowingItems%%:</h3>

			<table cellspacing="0" cellpadding="0" class="CartContents" style="border: 1px solid #ddd;">
				<thead style="%%GLOBAL_HideItemDetailsHeader%%">
					<tr>
						<th>%%LNG_ItemDetails%%</th>
						<th style="width: 15%; text-align: right;">%%LNG_Price%%</th>
					</tr>
				</thead>
				<tfoot>
					%%GLOBAL_OrderTotalRows%%
				</tfoot>
				<tbody>
					%%SNIPPET_AccountOrderItemRow%%
				</tbody>
			</table>
			<br />
			<input type="hidden" name = "orderid" value="%%GLOBAL_OrderId%%" />
			<input type="submit" class="Buttons" style="float: right;" value="Comprar Novamente" />
			<br class="Clear" />
		</form>
		<div style="%%GLOBAL_HideOrderComments%%">
			<hr class="Clear" />
			<h3>%%LNG_OrderComments%%</h3>
			<div class="PL20">
				<p>
					%%GLOBAL_OrderComments%%
				</p>
			</div>
		</div>
		%%Panel.AccountOrderShipments%%
	</div>
</div>
%%Panel.AccountOrderJavaScript%%
