<div class="Block Moveable Panel" id="BrandContent">
	%%SNIPPET_CategorySortBox%%
	<h2><i class="fa fa-paper-plane"></i> %%GLOBAL_TrailBrandName%%</h2>

	<div class="BlockContent">
		%%SNIPPET_BrandPaging%%

		<script type="text/javascript">
		lang.CompareSelectMessage = '%%LNG_CompareSelectMessage%%';
		</script>

		<form name="frmCompare" id="frmCompare" action="%%GLOBAL_CompareLink%%" method="get" onsubmit="return compareProducts('%%GLOBAL_CompareLink%%')">
			%%Panel.BrandProductListing%%

			<br class="Clear" />
			<div class="CompareButton ProductActionAdd" style="display:%%GLOBAL_HideCompareItems%%">
				<a href="#" onclick="return compareProducts(config.CompareLink)">%%LNG_CompareSelected%%</a>
			</div>
		</form>
		<div class="PagingBottom">
			%%SNIPPET_BrandPaging%%
		</div>
	</div>
</div>
