<div class="Block Moveable Panel" id="ForgotPasswordForm">
	<h2><i class="fa fa-paper-plane"></i> %%LNG_ChangeYourPassword%%</h2>
	<div class="BlockContent">
		<p>
			%%LNG_ForgotPasswordIntro%%
		</p>

		<p class="ErrorMessage" style="display: %%GLOBAL_HideForgotPasswordError%%">
			%%GLOBAL_ErrorMessage%%
		</p>
		<form action="%%GLOBAL_ShopPath%%/login.php?action=send_password_email" method="post" onsubmit="return check_forgot_password_form()" class="PL20">
			<div class="FormContainer">
				<label>
					<span><b class="Required">*</b> %%LNG_EmailAddress%%:</span>
					<span><input type="text" class="Textbox Field250 " name="email" id="email" /></span>
				</label>
				<p class="Submit">
					<input type="submit" class="Buttons" value="%%LNG_Continue%%" />
				</p>
			</div>
		</form>
		<script type="text/javascript">
		//<![CDATA[
		document.getElementById("email").focus();
		//]]>
		</script>
		%%Panel.ForgotPasswordJavaScript%%
	</div>
</div>