			<div id="SearchForm">
				<form action="%%GLOBAL_ShopPath%%/search.php" method="get">
					<input type="text" name="search_query" id="search_query" class="Textbox" placeholder="Procurar Produtos, Categorias" value="%%GLOBAL_OriginalSearchQuery%%" />
					<button class="button-search">
						<span class="fa fa-search"></span>
					</button>
				</form>
			</div>

			<script type="text/javascript">
				var QuickSearchAlignment = 'left';
				var QuickSearchWidth = '232px';
				lang.EmptySmallSearch = "%%LNG_EmptySmallSearch%%";
			</script>
