<div style="display: %%GLOBAL_Ativo%%">
<div class="iosSlider">
  <div class="slider">
    <div class="item" id="item1">
      <div class="image" style="background:url('%%GLOBAL_Img1%%');">
        <div class="bg"></div>
      </div>

      <div class="text">
        <div class="bg"></div>
        <div class="title">
          <span>%%GLOBAL_Titulo1%%</span>
        </div>

        <div class="desc">
          <span>%%GLOBAL_Texto1%%</span>
        </div>

        <div class="button">
          <a href="%%GLOBAL_Link1%%" class="Buttons">Saiba mais &rsaquo;</a>
        </div>
      </div>
    </div>

    <div class="item" id="item2">
      <div class="image" style="background:url('%%GLOBAL_Img2%%');">
        <div class="bg"></div>
      </div>

      <div class="text">
        <div class="bg"></div>
        <div class="title">
          <span>%%GLOBAL_Titulo2%%</span>
        </div>

        <div class="desc">
          <span>%%GLOBAL_Texto2%%</span>
        </div>

        <div class="button">
          <a href="%%GLOBAL_Link2%%" class="Buttons">Saiba mais &rsaquo;</a>
        </div>
      </div>
    </div>

    <div class="item" id="item3">
      <div class="image" style="background:url('%%GLOBAL_Img3%%');">
        <div class="bg"></div>
      </div>

      <div class="text">
        <div class="bg"></div>
        <div class="title">
          <span>%%GLOBAL_Titulo3%%</span>
        </div>

        <div class="desc">
          <span>%%GLOBAL_Texto3%%</span>
        </div>

        <div class="button">
          <a href="%%GLOBAL_Link3%%" class="Buttons">Saiba mais &rsaquo;</a>
        </div>
      </div>
    </div>
  </div>
  <div class="prevButton"></div>
  <div class="nextButton"></div>

</div>
</div>