<div class="Block Moveable Panel SideCart" id="SideCartContents" style="display:%%GLOBAL_HidePurchasingOptions%%%%GLOBAL_HideCartOptions%%; %%GLOBAL_HideSideCart%%">
	<div class="BlockContent">
		<p>
			%%GLOBAL_SideCartItemCount%%
			%%LNG_SideCartTotalCost%%
		</p>

		<ul class="ProductList">
			%%SNIPPET_SideCartItems%%
		</ul>

		<p class="Clear Checkout">
			<a href="%%GLOBAL_ShopPathNormal%%/cart.php" class="Buttons">%%LNG_ViewCart%%</a> <small>ou</small> <a href="%%GLOBAL_ShopPathNormal%%/checkout.php" class="Buttons">Finalizar Pedido</a> 
		</p>
	</div>
</div>