			<br class="Clear" />

			<div id="Footer">





				<div class="Newsletter-Footer">



						<div class="content-footer">



					<table cellspacing="20" cellpadding="0">

						<tr>

							<td>

								<div class="newsIcon">

									<span class="fa fa-envelope-o pull-left"></span>

								</div>



								<div class="newsText">

									<h2>Newsletter</h2>

									<p>Receba novidades no seu e-mail.</p>

								</div>



								<br class="Clear" />

							</td>



							<td>

								%%Panel.SideNewsletterBox%%

							</td>



							<td>

								<div class="social">

									<ul>

										<li><a class="fa fa-facebook" href="https://www.facebook.com/oxynutri">&nbsp;</a></li>

										<li><a class="fa fa-twitter" href="https://twitter.com/oxynutri">&nbsp;</a></li>

										<li><a class="fa fa-instagram" href="https://instagram.com/oxynutri/">&nbsp;</a></li>

									</ul>

								</div>

							</td>

						</tr>

					</table>



						</div><!--caixa newsletter-->





				</div><!--Newsletter Footer-->



				<div class="Links-Footer-Content">



					<div class="Links-Footer">



					<table width="930">

						<tr>

							<td>

								<h2>Quem Somos</h2>

								<ul>

									<li><a href="%%GLOBAL_ShopPath%%/pagina/quem-somos.htmll"><i class="fa fa-stop">&nbsp;</i> Quem Somos</a></li>

									<li><a href="%%GLOBAL_ShopPath%%/pagina/termos-e-condicoes.html"><i class="fa fa-stop">&nbsp;</i> Termos e Condições</a></li>

									<li><a href="%%GLOBAL_ShopPath%%/pagina/entregas-e-devolucoes.html"><i class="fa fa-stop">&nbsp;</i> Entregas e Devoluções</a></li>                                    
                                    
									<li><a href="%%GLOBAL_ShopPath%%/pagina/fale-conosco.html"><i class="fa fa-stop">&nbsp;</i> Fale Conosco</a></li>                                    

								</ul>

							</td>



							<td>

								<h2>Central de Clientes</h2>

								<ul>

									<li><a href="%%GLOBAL_ShopPath%%/account.php"><i class="fa fa-stop">&nbsp;</i> Área do Cliente</a></li>

									<li><a href="%%GLOBAL_ShopPath%%/account.php?action=order_status"><i class="fa fa-stop">&nbsp;</i> Ver Assinaturas</a></li>

									<li><a href="%%GLOBAL_ShopPath%%/wishlist.php"><i class="fa fa-stop">&nbsp;</i> Lista de Desejos</a></li>

									<li><a href="%%GLOBAL_ShopPath%%/cart.php"><i class="fa fa-stop">&nbsp;</i> Carrinho de Compras</a></li>

								</ul>

							</td>



							<td valign="top">

								<h2>Pagamento com:</h2>
                            <img src="http://www.oxynutri.com.br/templates/oxynutri/images/blue/pagseguro.png" width="200" height="41" />
                            
                            </td>

						</tr>

					</table>

				

				</div><!--Links-Content-Footer-->



					</div><!--Links-Footer-->


				<div class="Copy-Footer">

					<div class="copy">

						<div class="copy1">

						Oxynutri © 2015 All rights reserved. | Desenvolvido por: <a target="_blank" href="http://www.foccosti.com.br">Foccos</a> | Plataforma: <a target="_blank" href="http://www.iturn.com.br">iTurn</a></div>



						<div class="copy2">

						</div>

						<br class="Clear">

					</div>

				</div>

			</div>

		</div>



		%%GLOBAL_DesignModeHTML%%

		%%GLOBAL_QueryList%%

		%%GLOBAL_DesignModeScriptTag%%

		%%GLOBAL_LiveChatFooterCode%%



		%%GLOBAL_OptimizerTrackingScript%%

		%%GLOBAL_OptimizerConversionScript%%

		%%GLOBAL_OptimizerSetCookieScript%%



		%%GLOBAL_FooterScripts%%

		%%SNIPPET_FastCartThickBoxJs%%

