		<div id="AjaxLoading"><div class="ui active inline loader"></div>&nbsp; %%LNG_LoadingPleaseWait%%</div>
		
		%%GLOBAL_MaintenanceNotice%%
		%%Panel.TopMenu%%
		<div id="Outer">
			<div id="Header">
				<div id="Logo">
					%%GLOBAL_HeaderLogo%%
				</div>
				%%Panel.HeaderSearch%%

				<div class="headcart">
					<a href="%%GLOBAL_ShopPath%%/cart.php">
						<div class="cartleft">
							<i class="fa fa-shopping-cart"></i>
						</div>

						<div class="cartright">
							<b>Meu Carrinho</b>
							<div class="carttop">
								<span>%%GLOBAL_CartItems%%</span>
							</div>
						</div>
					</a>

					%%Panel.SideCartContents%%
				</div>
				<br class="Clear" />
			</div>

			<div id="Menu">
				%%Panel.PagesMenu%%
			</div>
