<li class="OrdenStatus">
	<h3><i class="fa fa-plus-square"></i> %%LNG_Return%% #%%GLOBAL_ReturnId%% - %%GLOBAL_ReturnStatus%%</h3>
	<p class="Meta">
		<strong>%%LNG_ReturnedItem%%:</strong> %%GLOBAL_ReturnedQuantity%%%%GLOBAL_ReturnedProduct%% %%GLOBAL_ReturnedProductOptions%%<br />
		<strong>%%LNG_DateRequested%%:</strong> %%GLOBAL_DateRequested%%<br />
		<strong>%%LNG_ReturnReason%%:</strong> %%GLOBAL_ReturnReason%%<br />
		<span style="display: %%GLOBAL_HideReturnAction%%"><strong>%%LNG_ReturnAction%%:</strong> %%GLOBAL_ReturnAction%%</span>
	</p>
	<hr />
	<div style="display: %%GLOBAL_HideReturnComment%%">
		<h4>%%LNG_YourComments%%:</h4>
		<blockquote>
			%%GLOBAL_ReturnComments%%
		</blockquote>
	</div>
</li>