							<li class="%%GLOBAL_AlternateClass%%">
								<div class="ComparisonCheckbox">
									<input style="display:%%GLOBAL_HideSideProductRecentlyViewedCompare%%" type="checkbox" class="CheckBox" name="compare_product_ids" value="%%GLOBAL_ProductId%%" onclick="product_comparison_box_changed(this.checked)" />
								</div>
								<span class="PriceOFF" style="display: %%GLOBAL_HavePriceOFF%%"><span>%%GLOBAL_PriceOFF%%</span></span>
								<div class="ProductImage">
									%%GLOBAL_ProductThumb%%
								</div>
								<div class="ProductDetails">
									<strong><a href="%%GLOBAL_ProductLink%%" title="%%GLOBAL_ProductName%%">%%GLOBAL_ProductName%%</a></strong>
								</div>
								<div class="ProductPriceRating">
									<em>%%GLOBAL_ProductPrice%%</em>
									%%GLOBAL_ProductParcela%%
								</div>
								<span class="Rating Rating%%GLOBAL_ProductRating%%" style="text-align: center;">
									<img src="%%GLOBAL_IMG_PATH%%/IcoRating%%GLOBAL_ProductRating%%.gif" title="%%GLOBAL_ProductName%%" alt="%%GLOBAL_ProductName%%" %%GLOBAL_ProductRatingImageDimensions%% style="%%GLOBAL_HideProductRating%%" />
								</span>
							</li>