<link rel="stylesheet" href="%%GLOBAL_ShopPath%%/javascript/social-share/social-buttons.css">
  <div style="margin: 15px;" class="social-sharing" data-permalink="%%GLOBAL_UrlDoProduto%%">

    <!-- https://developers.facebook.com/docs/plugins/share-button/ -->
    <a target="_blank" href="http://www.facebook.com/sharer.php?u=%%GLOBAL_UrlDoProduto%%" class="share-facebook">
      <span class="icon icon-facebook"></span>
      <span class="share-title">Compartilhar</span>
    </a>

    <!-- https://dev.twitter.com/docs/intents -->
    <a target="_blank" href="http://twitter.com/share?url=%%GLOBAL_UrlDoProduto%%" class="share-twitter">
      <span class="icon icon-twitter"></span>
      <span class="share-title">Tweet</span>
    </a>

    <!--
      https://developers.pinterest.com/pin_it/
      Pinterest get data from the same Open Graph meta tags Facebook uses
    -->
    <a target="_blank" href="http://pinterest.com/pin/create/button/?url=%%GLOBAL_UrlDoProduto%%" class="share-pinterest">
      <span class="icon icon-pinterest"></span>
      <span class="share-title">Pin it</span>
    </a>

    <!-- https://developers.google.com/+/web/share/ -->
    <a target="_blank" href="http://plus.google.com/share?url=%%GLOBAL_UrlDoProduto%%" class="share-google">
      <!-- Cannot get Google+ share count with JS yet -->
      <span class="icon icon-google"></span>
      <span class="share-title">+1</span>
    </a>

    <!-- http://fancy.com/help/button -->
    <a target="_blank" href="http://www.thefancy.com/fancyit?ItemURL=%%GLOBAL_UrlDoProduto%%ImageURL=http://distilleryimage3.ak.instagram.com/6477684ac48d11e19ab222000a1e8819_7.jpg" class="share-fancy">
      <span class="icon icon-fancy"></span>
      <span class="share-title">Fancy</span>
    </a>

  </div>

<script src="%%GLOBAL_ShopPath%%/javascript/social-share/social-buttons.js"></script>