%%GLOBAL_AddToCartButtonControlScript%%
<!--custom product package addon script-->
<script type="text/javascript">
	$('document').ready(function(){
		$('#qty_').change(function(){
			var mainprod_qty = $(':selected',this).val();
			$('.mainprodqty').val(mainprod_qty);
		});
	});
</script>
<!--end for custom product package addon script-->
<form method="post" class="AddToCart" action="%%GLOBAL_CartLink%%" onsubmit="return check_add_to_cart(this, %%GLOBAL_ProductOptionRequired%%) %%GLOBAL_FastCartButtonJs%%"  enctype="multipart/form-data" id="productDetailsAddToCartForm">
	<input type="hidden" name="action" value="add" />
	<input type="hidden" name="product_id" value="%%GLOBAL_ProductId%%" />
	<input type="hidden" name="variation_id" class="CartVariationId" value="" />
	<input type="hidden" name="currency_id" value="" />
	<div class="ProductDetailsGrid ProductAddToCart">
		%%SNIPPET_ProductFieldsList%%
		<div class="ProductOptionList">
			%%SNIPPET_VariationList%%
		</div>
		%%SNIPPET_EventDate%%
		<table style="display: %%GLOBAL_DisplayAddQty%%" cellspacing="10">
			<tr>
				<td>
					<strong style="display: %%GLOBAL_DisplayAddQty%%">%%LNG_QuantityFull%%:</strong>
				</td>

				<td>
					<span class="FloatLeft" style="display: %%GLOBAL_DisplayAddQty%%;">
						%%GLOBAL_AddToCartQty%%
					</span>
				</td>
			</tr>
		</table>
	</div>
		<div class="BulkDiscount" style="display:%%GLOBAL_DisplayAdd%%">
			%%GLOBAL_AddToCartButtonOptimizerScriptTag%%
			<br />
			<button type="submit"class="positive ui button">Adicionar ao Carrinho</button>
			%%GLOBAL_AddToCartButtonOptimizerNoScriptTag%%

			<div class="BulkDiscountLink" style="display: %%GLOBAL_HideBulkDiscountLink%%;">
				<a href="#" onclick="$.iModal({data: $('#ProductDetailsBulkDiscountThickBox').html(), width: 600}); return false;">
					%%LNG_BulkDiscountLink%%
				</a>
			</div>
		</div>
</form>

<div class="OutOfStockMessage">
	%%SNIPPET_SideAddItemSoldOut%%
</div>

%%GLOBAL_ProductBulkDiscountThickBox%%

<script language="javascript" type="text/javascript">//<![CDATA[
lang.OptionMessage = "%%GLOBAL_OptionMessage%%";
lang.VariationSoldOutMessage = "%%LNG_VariationSoldOutMessage%%";
lang.InvalidQuantity = "%%LNG_InvalidQuantity%%";
lang.EnterRequiredField = "%%LNG_EnterRequiredField%%";
lang.InvalidFileTypeJS = "%%LNG_InvalidFileTypeJS%%";
var ShowAddToCartQtyBox = "%%GLOBAL_ShowAddToCartQtyBox%%";
%%GLOBAL_ProductMinMaxQtyJavascript%%
//]]></script>
%%GLOBAL_EventDateJavascript%%
