							<li class="TopSeller1">
								<div class="TopSellerNumber">%%GLOBAL_ProductNumber%%</div>
								<div class="ProductImage">
									%%GLOBAL_ProductThumb%%
								</div>
								<div class="ProductDetails">
									<strong><a href="%%GLOBAL_ProductLink%%" title="%%GLOBAL_ProductName%%">%%GLOBAL_ProductName%%</a></strong>
									<div class="ProductPriceRating">
										<em>%%GLOBAL_ProductPrice%%</em>
										<span class="Rating Rating%%GLOBAL_ProductRating%%"><img src="%%GLOBAL_IMG_PATH%%/IcoRating%%GLOBAL_ProductRating%%.gif" title="%%GLOBAL_ProductName%% Rating%%GLOBAL_ProductRating%%" alt="%%GLOBAL_ProductName%% Rating" style="%%GLOBAL_HideProductRating%%" /></span>
									</div>
									<div class="ProductActionAdd" style="display:%%GLOBAL_HideActionAdd%%;">
										<strong><a href="%%GLOBAL_ProductURL%%" title="%%GLOBAL_ProductAddText%%">%%GLOBAL_ProductAddText%%</a></strong>
									</div>
								</div>
							</li>
