.checkout_option{float: left;padding: 10px;width: 130px;border: 1px solid #eee;border-radius: 5px;margin: 5px;text-align: center; cursor: pointer; text-transform: uppercase;font-weight: bold;}
.checkout_option i{display: block;text-align: center;margin-bottom: 10px;}
.ui.button.bb{
	background-color: #ffe000;
color: navy;
}
label.selected {background:#00cc00;}
.custom_variation{display: block !important;}
.custom_variation
{
    float: left;
    position: relative;
    margin: 0;
    padding: 0;
} 
.custom_variation div.coloritem
{
    border: 3px solid #EAEAEA;
    display: block;
    float: left;
    height: 32px;
    margin: 0 2px 5px 0;
    position: relative;
    text-indent: -999em;
    width: 32px;
    cursor: pointer;
}
.custom_variation div.coloritemSelected
{
    border: 3px solid #000000;
    display: block;
    float: left;
    height: 32px;
    margin: 0 2px 5px 0;
    position: relative;
    text-indent: -999em;
    width: 32px;    
    cursor: pointer;
}
.IndentColor
{
    text-indent: 10000px;
    margin-top: -50px !important;
    z-index: -100;
}
/* End Colo var */

.CurrentlySoldOut label{display: block;margin-bottom:10px;}
.CurrentlySoldOut{
	width: 217px;
	padding: 10px;
}
.CurrentlySoldOut h3{
	padding: 5px 0;
	color: #cb2027;
	text-transform: uppercase;
}
.CurrentlySoldOut label span{display: block;}
.CartExpectedReleaseDate {
	font-style: italic;
	font-size: 11px;
}

.OrderItemList .ExpectedReleaseDate {
	display: block;
	font-size: 11px;
}

.CartContents .ExpectedReleaseDate {
	font-size: 11px;
	padding-left: 20px;
}

.displayNone{display: none;}

.ProductMain table.ExpectedReleaseDate {
}

.ProductMain table.ExpectedReleaseDate td {
	padding: 6px;
	border: solid 1px;

	/* default colours to be overridden, as needed, by templates */
	background-color: #FFF1A8;
	border-color: #E8B541;
	color: #353535;
}

.BrandCloud {
	overflow-x: hidden;
}

.CartProductFields dt {
	font-weight: bold;
	clear: left;
}

.CartProductFields dd {
	margin-left: 50px;
}

.ProductPrice .CatalogPriceExTax,
.ProductList em .CatalogPriceExTax,
.ProductPrice .ProductDetailsPriceExTax,
.ProductList em .ProductDetailsPriceExTax {
	display: block;
	color: #777;
}

.CartContents .ItemShipping th.ItemShippingDescription {
	text-align: left;
}

.CartContents .ItemShipping th {
	border-top: 1px solid;
	border-bottom: 1px solid;
	padding: 6px 10px;
}

.CartContents .ItemShipping:first-child th {
	border-top: none;
}

.CartContents tbody td,
.CartContents tfoot td {
	padding: 6px 10px;
	vertical-align: top;
}

.CartContents tfoot .SubTotal td {
	border-top: 1px solid;
	text-align: right;
	font-weight: bold;
}

.OrderShipments .DateShipped {
	white-space: nowrap;
	width: 20%;
}

.OrderShipments .ShippingMethod {
	width: 55%;
}

.OrderShipments .TrackingNumber {
	white-space: nowrap;
	width: 25%;
}

div.FacebookLikeButtonContainer {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

div.FacebookLikeButtonContainer iframe {
	width: 100%;
	height: 65px;
	border: none;
	overflow: hidden;
}

.HorizontalFormContainer p.Submit {
	margin-top: 10px;
}

#fastCartContainer {
	margin: 0 auto;
}
#fastCartWrapper {
	clear: both;
	padding: 5px;
}
#fastCartContainer .ProductList {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
#fastCartContainer .ProductList li {
	margin: 3px;
	overflow: hidden;
	padding: 12px;
	float:left;
	width:122px;
}
#fastCartContainer .ProductList .ProductImage {
	width: 120px;
	height: 120px;
}
.fastCartContent {
	min-height: 235px;
	width: 625px;
}
.fastCartContent h2 {
	font-size: 25px;
}
.fastCartTop {
	padding: 15px 5px;
}
.fastCartBottom {
	padding: 0px 5px;
}
.fastCartItemBox {
	padding: 10px 2px;
	margin-left: 10px;
	max-width: 230px;
}
.fastCartItemBox a {
	text-decoration: none;
}
.fastCartThumb, .fastCartItemBox {
	float: left;
}
.fastCartQuantity {
	margin-top: 15px;
}
.fastCartSummaryBox {
	float: right;
	padding: 10px;
	max-width: 200px;
}
.fastCartSummaryBox .subtotal {
	margin-top: 15px;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	clear: both;
}
.fastCartSummaryBox .actionLink {
	margin-top:10px;
}

/* Start: SpecificInfoMessage */

.SpecificInfoMessage {
	padding: 8px 6px 8px 8px;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* End: SpecificInfoMessage */

div.categoryPicker {
	border: 1px solid #bbbbbb;
	padding-left: 3px;
	padding-bottom: 3px;
	overflow: auto;
	max-height: 300px;
}
.ProductIndisponivel a{
	background: #ddd !important;
	color: #e02222 !important
}
.TransitTime{text-align: left !important}