			<br class="Clear" />
			<div id="Footer">
				<div class="Links-Footer TopInfos">
					<table width="980">
						<tr>
							<td valign="top">
								<i class="fa fa-truck"></i>
								<h2>Frete <span>Grátis</span></h2>
								<p>Your order is safely and securely packaged & shipped free of charge.</p>
							</td>

							<td valign="top">
								<i class="fa fa-money"></i>
								<h2>Receba <span>Descontos</span></h2>
								<p>Your order is safely and securely packaged & shipped free of charge.</p>
							</td>

							<td valign="top">
								<i class="fa fa-life-ring"></i>
								<h2>Precisando de <span>Ajuda?</span></h2>
								<p>Your order is safely and securely packaged & shipped free of charge.</p>
							</td>
						</tr>
					</table>
				</div>

				<div class="Links-Footer">
					<table width="980">
						<tr>
							<td valign="top">
								<h2>Informações</h2>
								<ul>
									<li><a href="%%GLOBAL_ShopPath%%/pagina/sobre-nos">Sobre Nós</a></li>
									<li><a href="%%GLOBAL_ShopPath%%/pagina/politica-de-entrega">Política de Entrega</a></li>
									<li><a href="%%GLOBAL_ShopPath%%/pagina/politica-de-pagamento">Política de Pagamento</a></li>
									<li><a href="%%GLOBAL_ShopPath%%/sitemap.php">Mapa do Site</a></li>
								</ul>
							</td>

							<td valign="top">
								<h2>Minha Conta</h2>
								<ul>
									<li><a href="%%GLOBAL_ShopPath%%/account.php">Minha Conta</a></li>
									<li><a href="%%GLOBAL_ShopPath%%/account.php?action=order_status">Meus Pedidos</a></li>
									<li><a href="%%GLOBAL_ShopPath%%/wishlist.php">Lista de Desejos</a></li>
									<li><a href="#">Blog</a></li>
								</ul>
							</td>

							<td valign="top">
								<h2>Suporte</h2>
								<ul>
									<li><a href="#">Fale Conosco</a></li>
									<li><a href="#">Central de Relacionamento</a></li>
									<li><a href="#">Como Comprar</a></li>
									<li><a href="#">Rastreamento</a></li>
								</ul>
							</td>

							<td valign="top">
								<h2>Nosso Endereço</h2>
								<address>
									Rua Tabelião José Vieira de Queiroga, 86 / Pombal - PB<br />
								</address>
								<br />
								<h2>Redes Sociais</h2>
								<div class="social">
									<ul>
										<li><a class="fa fa-facebook" href="#">&nbsp;</a></li>
										<li><a class="fa fa-twitter" href="#">&nbsp;</a></li>
										<li><a class="fa fa-google-plus" href="#">&nbsp;</a></li>
									</ul>
								</div>
							</td>
						</tr>
					</table>
				</div>

				<div class="Copy-Footer">
					<div class="copy">
						<div class="copy1">
							Powered By <a target="_blank" href="http://www.eurekaweb.com.br">Eureka! Web</a>
						</div>

						<div class="copy2">

						</div>
						<br class="Clear">
					</div>
				</div>
			</div>
		</div>

		%%GLOBAL_DesignModeHTML%%
		%%GLOBAL_QueryList%%
		%%GLOBAL_DesignModeScriptTag%%
		%%GLOBAL_LiveChatFooterCode%%

		%%GLOBAL_OptimizerTrackingScript%%
		%%GLOBAL_OptimizerConversionScript%%
		%%GLOBAL_OptimizerSetCookieScript%%

		%%GLOBAL_FooterScripts%%
		%%SNIPPET_FastCartThickBoxJs%%
