<div style="display: %%GLOBAL_Ativo%%">
  <div class="iosSlider">
    <div class="slider">
      <div class="item" id="item1">
        <a href="%%GLOBAL_Link1%%">
          <div class="image" style="background:url('%%GLOBAL_Img1%%');">
            <div class="bg"></div>
          </div>
        </a>
      </div>

      <div class="item" id="item2">
        <a href="%%GLOBAL_Link2%%">
          <div class="image" style="background:url('%%GLOBAL_Img2%%');">
            <div class="bg"></div>
          </div>
        </a>
      </div>

      <div class="item" id="item3">
        <a href="%%GLOBAL_Link3%%">
          <div class="image" style="background:url('%%GLOBAL_Img3%%');">
            <div class="bg"></div>
          </div>
        </a>
      </div>
    </div>
    <div class="prevButton"></div>
    <div class="nextButton"></div>
  </div>
</div>